
<div class="col s4">
          <div class="card medium hoverable ">
            <div class="card-content">
              <%= link_to(review_path(bookmark), title: bookmark.title) do %>
              <%= render(partial: 'application/book_photo', locals: {image_url: bookmark.image_url}) %>
              <% end %>
            <div class="card-action">
              <%= form_tag user_bookmark_path(session[:user_id], bookmark.id), :title=>'Remove bookmark', id:'delete',  method:'delete' do %>
              <%= button_tag class:"btn-floating left waves-effect waves-light  red lighten-1" do %>
                <i class="material-icons">remove</i>
              <% end %>
              <% if(can_edit?(bookmark))%>
              <%= link_to(edit_review_path(bookmark),:title=>'Edit', class:"btn-floating btn right waves-effect waves-light teal lighten-1") do %>
              <i class="material-icons">edit</i>
              <% end %>
              <% end %>
               
                
              <% end %>
            </div>
          </div>
        </div>
        
          </div>
          
          