<!DOCTYPE html>
<html>
  <head>
    <title>BookReviews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if(logged_in?) %>
        <%= render(partial: 'authenticated_user_header') %>
      <% else %>
        <%= render(partial: 'anonymous_user_header') %>
      <% end %>
      <div class="row">
        <%= render(partial: 'search_form')%>
      </div>
    </header>

    <%= yield %>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 2020 jolanet
        </div>
      </div>
    </footer>
  </body>
</html>
